.presentacion{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.presentacion h1{
  font-size: 3em;
  color: #70578b;
  padding: 1em;
}
.presentacion p{
  font-size: 0.8em;
  font-weight: bold;
  color: #6a6a6a;
}
.formulario{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5em;
}
.registro{
  display: flex;
  height: 2.5em;
  width: 100%;
  margin-bottom: 1em;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: bold;
  color: #6a6a6a;
}
.formulario .beneficios h2{
  color: #70578b;
}
.formulario .beneficios li{
  color:#6a6a6a;
}